.intro-container {
  .intro,
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 999;

    &__text {
      color: #121212;
      font-size: 40px;
    }

    .hide {
      overflow: hidden;

      span {
        display: inline-block;
        transform: translateY(100%);
      }
    }
  }

  .slider {
    background-color: #ff0;
    transform: translateY(100%);
    z-index: 1000;
  }
}
